.Rproj.user/*
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rproj.user
.httr-oauth
**/*_cache/
**/cache/
**/logs/
**/derby.log
**/*.xls
**/*.xlsx
17-spark/spark_files/
17-spark/data/*.csv
09a-spatial-rasters/data/*
**/TEST/